<!--<router-outlet></router-outlet>-->
<div class="wrapper">
  <div class="sth">
    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      BIG TABLE
    </div>
    <table [dataSource]="trains" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <ng-container matColumnDef="platform">
        <th *matHeaderCellDef mat-header-cell> Platform</th>
        <td *matCellDef="let element" mat-cell> {{element.platform}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <div class="sth">
    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      PLATFORMS TABLES
    </div>
    <table [dataSource]="platforms" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <ng-container matColumnDef="platform">
        <th *matHeaderCellDef mat-header-cell> Platform</th>
        <td *matCellDef="let element" mat-cell> {{element.platform}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      PLATFORM 1
    </div>
    <table [dataSource]="platforms2[0]" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns2;" mat-row></tr>
    </table>
    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      PLATFORM 2
    </div>
    <table [dataSource]="platforms2[1]" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns2;" mat-row></tr>
    </table>
    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      PLATFORM 3
    </div>
    <table [dataSource]="platforms2[2]" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns2;" mat-row></tr>
    </table>
    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      PLATFORM 4
    </div>
    <table [dataSource]="platforms2[3]" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns2;" mat-row></tr>
    </table>
    <div style="font-size: 30px; width: 100%; text-align: center; line-height: 40px">
      PLATFORM 5
    </div>
    <table [dataSource]="platforms2[4]" class="mat-elevation-z8" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Type</th>
        <td *matCellDef="let element" mat-cell> {{element.type + element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="departure">
        <th *matHeaderCellDef mat-header-cell> Departure</th>
        <td *matCellDef="let element" mat-cell> {{element.departure}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="arrival">
        <th *matHeaderCellDef mat-header-cell> Arrival</th>
        <td *matCellDef="let element" mat-cell> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="delay">
        <th *matHeaderCellDef mat-header-cell> Delay</th>
        <td *matCellDef="let element" mat-cell> {{element.delay}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns2;" mat-row></tr>
    </table>

  </div>
</div>

